html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
  }
  
  /* modifies the nav-bar class which was assigned to the ul tag in the navigation bar in each html page.
  
  it removes the bullet points, makes it so there is no space between the items, and changes the background color
  */
  .nav-bar {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 40px;
    font-family: Cinzel;
    border-radius: 20px;
  
  }
  
  /* modifies the nav-item class which is applied to each li tag in each html page's navigation bar. 
  
  This causes the navigation items to line up starting on the left side of the sblue
  */
  .nav-item {
    float: left;
  }
  
  /* modifies each a tag (for links) inside of the nav-item class which is applied to each li tag in each html page's navigation bar. 
  
  This provides for a little bit of spacing around each item, removes the underline, and changes the text color
  */
  .nav-item a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* This makes it so when you hover over a navigation bar item that isn't the active page, it will change the background color of that item. */
  .nav-item a:hover:not(.active) {
    background-color: blue;
  }
  
  /* this active class is applied to the <a> tag of the current html page. For instance, in index.html, the active class is applied to the <a> tag that links to index.html with the text home.  For mammals.html, the active class is applied to the <a> tag that links to mammals.html with the text mammals.*/
  .active {
    background-color: darkblue;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  #s{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  a.one:link {color:blue; text-decoration: none;}
  a.one:visited {color:blue; text-decoration: none;}
  a.one:hover {color:blue; text-decoration: none}
  
  .footer {
     position: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: blue;
     text-align: center;
     font-size: 35px;
     font-family: Cinzel;
  }
  
  